header {
  background-color: #E1EDE6;
}
  
.header {
  width: 100%;
  margin: 0 auto;
  &__wrap {
    height: 100px;
  }

  &__logo-text {
    color: #598D66;    
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    padding-left: 10px;
  }

  &__list-item {
    margin-left: 59px;
  }

  &__list-link {
    color: #2C2D35;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
  }

  &__basket {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    &__list-link {
      font-size: 18px;
    }
  }
}