@use './base/mixins' as *;
@use './base/variables' as vars;  // Добавлена точка и слеш перед именем файла
// @use "bootstrap/scss/variables" as *;
// @use './base/custom-bootstrap' as *; 
@use "~bootstrap/scss/bootstrap" as *;
// @use "bootstrap" with (
//   $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
//     xxl: 1440px
//   )
// );

@use './components/header.scss';
@use './components/pictures.scss';
@use './components/catalog.scss';
@use './components/promo';
@use './components/about.scss';
@use './components/footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

// Кастомные стили
.fixed-height {
  // height: 100px;
  min-height: 100px; /* На случай переполнения контента */
}

a {
  text-decoration: none;  
  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; // Medium
  @include flex-center;
  flex-direction: column;
  // font-family: vars.$headings-font-family;
}
