@use './base/mixins' as *;
@use './base/variables' as *;  // Добавлена точка и слеш перед именем файла

// Переопределяем переменные Bootstrap
// $container-max-widths: (
//   xxl: 1440px
// );
@use '~bootstrap/scss/bootstrap' as bs;
@use 'sass:meta';
@import "../../node_modules/bootstrap/scss/bootstrap";

@import './components/header.scss';
@import './components/pictures.scss';
@import './components/catalog.scss';

// Кастомные стили
.fixed-height {
  height: 100px;
  min-height: 100px; /* На случай переполнения контента */
}

a {
  text-decoration: none;  
  &:hover {
    text-decoration: none;
  }
}

body {
  @include flex-center;
  font-family: $headings-font-family;
  color: $primary-color;
  flex-direction: column;
}
