// Пример переменных
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: Helvetica, sans-serif;
$font-family-sans-serif: 'Raleway', system-ui, -apple-system, sans-serif;
$headings-font-family: 'Raleway', sans-serif;